{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="text-center my-1">
    <h1>Dense and Strict Rows with 190lbs</h1>
    <p style="font-size: 30px;">Felt pretty light!</p>
    <video width="800" height="550" controls>
        <source src="../static/videos/Rows w 190.mp4" type="video/mp4">
    </video>
</div>

<div class="my-5">
    <h1 class="text-center">Ricky's Rotund Raspberry Deads (~365 I think)</h1>
    <br>
        <p style="font-size: 30px; text-align: center; font-family: 'Times New Roman', Times, serif;
            text-shadow: 2px 2px 5px purple; font-style: italic; font-variant: small-caps;"
        >I was a-jitterin and a-jammin after this!</p>
    <div class="text-center">
        <video width="800" height="550" controls>
            <source src="../static/videos/Rotund Deads.mp4" type="video/mp4">
        </video>
    </div>
</div>
{% endblock %}
