{% extends 'base.html' %}
{% block content %}
<br>
<br>
<div class="text-center my-1">
    <h1>Heavy Benching with 285lbs!</h1>
    <p style="font-size: 30px;">This one was a synapse-snapper!</p>
    <video width="800" height="550" controls>
        <source src="../static/videos/265 for 5 bench.mp4" type="video/mp4">
    </video>
</div>

<div class="my-5">
    <h1 class="text-center">Over and Back Press!</h1>
    <br>
        <p style="font-size: 30px; text-align: center; font-family: 'Times New Roman', Times, serif;
            text-shadow: 2px 2px 5px purple; font-style: italic; font-variant: small-caps;"
        >a Great Movement to Blast Your Delts!</p>
    <div class="text-center">
        <video width="800" height="550" controls>
            <source src="../static/videos/Over and Back Press.mp4" type="video/mp4">
        </video>
    </div>
</div>
{% endblock %}
