{% extends 'base.html' %}
{% block content%}
<br>
<br>
<div class="text-center my-1">
    <h1>Silverback Squatting 365 for 5x5!</h1>
    <p style="font-size: 30px;">CNS was NOT Happy after!</p>
    <video width="800" height="550" controls>
        <source src="../static/videos/365 for 5 Squat.mp4" type="video/mp4">
    </video>
</div>

<div class="my-5">
    <h1 class="text-center">Deficit RDLs to Build those luscious hamhocks!</h1>
    <br>
        <p style="font-size: 30px; text-align: center; font-family: 'Times New Roman', Times, serif;
            text-shadow: 2px 2px 5px purple; font-style: italic; font-variant: small-caps;"
        >That slow stretch at the bottom...YEOUCH!!!!</p>
    <div class="text-center">
        <video width="800" height="550" controls>
            <source src="../static/videos/RDLS.MOV" type="video/mp4">
        </video>
    </div>
</div>

{% endblock %}